<div class="login-container">
    <!-- add this to the asstest folder  -->
    <img class="film" src="assets/images/film.png" alt="" />
    <div class="logo">Rotten potatoes</div>
    <div class="desc">
        Rotten Potatoes is the world’s most trusted recommendation resources for
        quality entertainment. As the leading online aggregator of movie and TV show
        reviews from critics, we provide fans with a comprehensive guide to what’s
        Fresh – and what’s Rotten – in theaters and at home. If you’re an
        entertainment fan looking for a recommendation, or to share an opinion,
        you’ve come to the right place.
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="username">Username</label>
            <!-- ng model directive binds the value of username input field - to use it we import the forms module in the app module (app.modules.ts)-->
            <input
            type="text"
            name="uname"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
            type="password"
            name="pword"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div class="btn-container">
            <!-- using both way binging that from ng.model -->
            <div class="error">{{errorMsg}}</div> 
            <button class="btn btn-dark" (click)="login()" >Login 
            </button>
        </div>
    </div>
</div>